.calc-wrapper {
    width: 380px;
    background: linear-gradient(to bottom, rgb(62, 62, 62) 0%, rgb(45, 46, 49) 100%);
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 0;
    border: 4px solid #000000fa;
    overflow: hidden;
}
.display {
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgb(249, 245, 245) 0%,rgb(136, 136, 136) 12%,rgba(102,102,102,1) 25%,rgb(80, 77, 77) 39%,rgb(66, 65, 65) 50%,rgb(64, 64, 64) 51%,rgb(62, 57, 57) 60%,rgb(35, 34, 34) 76%,rgb(0, 0, 0) 91%,rgb(0, 0, 0) 100%);
    height: 100px;
    border: 4px solid #cfcfd0;
    margin-bottom: 10px;
    text-align: right;
    font-size: 70px;
    line-height: 100px;
}
.btn {
    background: linear-gradient(to bottom, rgb(56, 55, 55) 0%, rgb(212, 212, 212) 12%, rgba(102, 102, 102, 1) 25%, rgba(71, 71, 71, 1) 39%, rgba(70, 69, 69, 0.54) 50%, rgb(64, 62, 62) 51%, rgba(80, 75, 75, 0) 60%, rgb(14, 14, 14) 76%, rgb(0, 0, 0) 91%, rgb(27, 27, 27) 100%);
    color: white;
    outline: 0;
    cursor: pointer;
    border-radius: 10px;
    float: left;
    width: 82px;
    height: 79px;
    line-height: 78px;
    font-size: 50px;
    margin-bottom: 10px;
}
.btn-group-left {
    float: left;
    width: 280px;
}
.btn-group-left .btn {
    margin-left: 10px;
}
.btn-group-left .btn:nth-child(3n+1) {
    margin-left: 0;
}
.btn-group-right {
    float: left;
    width: 100px;
}
.btn.result {
    width: 96%;
}
